@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Base styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    background-color: #b9baa3;
}

.container {
    margin: 0rem 15%;
}

/* End of Base styles */

/* Info Styles */

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.info h1 {
    margin: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.info h2 { 
    margin: 1rem;
}

.info p {
    margin: 1rem;
}

.quote p {
    font-style: italic;
    text-align: center;
}
.quote h2 {
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}


/* End of Info Styles */


/* Card styles */

.card {
    background-color: #902923;
    color: #d6d5c9;
    padding: 1rem;
    border-radius: 10px;
    margin: 4rem 0;
    position: relative;
    width: 15rem;
    left: 16px;
    opacity: 0;
    transition: opacity 0.5s;
}

.card.visible {
    opacity: 1;
}

/* End of Card styles */

/* Timeline styles */


.timeline {
    margin-top: 3rem;
    position: relative;
}

.years {
    width: 200px;
    left: 1.5rem;
    position: absolute;
    font-style: italic;
}

.line {
    width: 0.2rem;
    min-height: 200px;
    top: 2rem;
    left: -1rem;
    background-color: #902923;
    position: absolute;
    bottom: calc(100% - 20px)
}

.line::after {
    content:"";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #902923;
    position: absolute;
    top: 0;
    left: -6.5px;
}

.line .card::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #902923;
    position: absolute;
    top: 1.3rem;
    left:-22px;
}

.line::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #902923;
    position: absolute;
    bottom: -10px;
    left: -6.5px;
}
/* End of Timeline styles */
